fastapi
uvicorn
sqlalchemy
psycopg2-binary
pandas
httpx
mcp
python-dotenv
dotenv
pydantic
pm4py
typing_extensions
langchain-anthropic
langchain-community
langchain
langchain-core
langgraph
numpy
graphviz
fonttools
fastmcp
jira
